.container {
  width: min(var(--container-width), calc(100% - 15rem));
  margin-inline: auto;
}
.containerHeader {
  width: min(var(--container-width), calc(100% - 3rem));
  margin-inline: auto;
}
.section {
  padding: var(--space-xl) 0;
}
